{% include "parts/header2.html" %}

<style>
    .about{
      font-size: 35px;
    }

    .div1{
      padding-left: 80px
    }

    .pee{
      font-size: 20px;
    }

</style>










<div class="container-fluid">
  <div class="row my-5">
    <h2 class="about" style="text-align: center;">About Skinmax</h2>
    <h4 class="my-3 about text-primary">We help you feel comfortable in flawless skin</h4>
    <p>We believe that we all deserves to walk into the society with confidence and a flawless skin</p>
    <p>Skinmax was created for anyone who wants their skin to look just as attrative as they could imagine.</p>
  </div>

  <div class="row">
    <div class="col-md-3"  style="padding-right:20px ;">
       <img src="/static/image/care5.jpg" alt="" width="100%">
    </div>

    <div class="col-md-5">
     <p class="pee my-3">Skinmax is an online space that helps subscribers understand their skintype and thereby recommend tailored personalized skincare routines which in turn help them achieve their skin goals. <br> We aim to help you achieve better skincare results, avoid the expense and frustration of trying out multiple products that may not work for your unique skin concern  </p>
    </div>
     
    <div class="col-md-4">
         <img src="/static/image/image4.jpg" alt="" width="70%">
    </div>
  </div>

   



{% include "parts/footer.html" %}