{% include "parts/header2.html" %}
 

<style>
    .line {
      border: none;
      border-top: 2px solid rgb(188, 184, 184);
      width: 100%;
      margin-top: 3px;
    }
    
    /* div{
        border: 1px solid red;
    } */

    .skin-kind{
       /* background-color:#FEF9FF; */
       margin-top: -30px;
       
    }
</style>


<div class="container-fluid" style="background-color: whitesmoke;">
<div class="row my-3">
    <div class="col-md-6 mx-5">
        <h2 class="my-3 mx-5">Your skincare routine</h2>
        <h6 style=" color: #FF4242; padding: 20px; font-size: 35px;"> Routine Step By Step Guide</h6>
    </div>
 
 <div class="line"></div>
 <p>A skincare routine typically consists of several steps that aim to cleanse, exfoliate, moisturize, and protect the skin. Here are the general steps you can follow for a basic skincare routine:</p>
</div>



<div class="row">

    <div class="col-md-6 my-3 skin-kind text-align:justify">
       
       <p >   <span style="background-color: #FF4242; border-radius: 5px; padding: 9px;"><i class="fa-brands fa-nfc-symbol"></i>Normal Skin:</p> 
<ol>
    <li> Cleanse your face with a gentle cleanser to remove dirt and impurities.</li>
    <li> Apply a toner to balance the skin's pH levels and prepare it for further products.</li>
    <li> Use a lightweight moisturizer to keep your skin hydrated.</li>
    <li>Apply a broad-spectrum sunscreen with SPF 30 or higher before going out in the sun.</li>
    <li>Incorporate a serum or treatment for specific skincare concerns.</p></li>
</ol>

        

    </div>

    <div class="col-md-6 my-3 skin-kind">
    
        <p> <span style="background-color: #FF4242; border-radius: 5px; padding: 9px;" class="mx-2"><i class="fa-brands fa-odysee"></i> Oily Skin:</p> 
        
        <ol>
           <li>Cleanse your face with a gentle or oil-free foaming cleanser to remove excess oil.</li>
           <li>Apply an alcohol-free toner to control oil production and minimize pores.</li>
           <li>Use a lightweight, oil-free moisturizer to hydrate without adding extra oil.</li>
           <li>Apply a non-comedogenic sunscreen with SPF 30 or higher to protect your skin.</li>
           <li>Apply an alcohol-free toner to control oil production and minimize pores.</li>
           <li>OptionL: Consider using a clay mask once a week to absorb excess oil.</li>

        </ol>

      
      </div>

      <div class="row">
        <div class="col-md-6 my-3">
           
            <p> <span style="background-color: #FF4242; border-radius: 5px; padding: 9px;" class="mx-2"><i class="fa-brands fa-dochub"></i></i>Dry Skin:</p> 
        
            <ol>
               <li>Cleanse your face with a hydrating cleanser that won't strip away natural oils.</li>
               <li>Apply a hydrating toner to replenish moisture and soothe the skin.</li>
               <li> Use a rich, emollient moisturizer to nourish and hydrate your skin.</li>
               <li> Apply a moisturizing sunscreen with SPF 30 or higher to protect your skin.</li>
               <li>Consider using a facial oil for extra hydration and improved skin texture.</li>
               <li>(Weekly): Use a hydrating mask or overnight mask to provide a moisture boost.</li>
    
            </ol>
            </div>

            <div class="col-md my-3">
   
                <p> <span style="background-color: #FF4242; border-radius: 5px; padding: 9px;" class="mx-2"><i class="fa-brands fa-dochub"></i></i>Combination Skin:</p> 
            
                    <ol>
                       <li>Cleanse your face with a mild cleanser to remove impurities without drying out the skin.</li>
                <li>Incorporate a gentle exfoliant to remove dead skin cells and unclog pores (2-3 times a week).</li>
                <li>Apply a balancing toner to restore the skin's pH balance.</li>
                <li>Use a lightweight moisturizer, focusing on dry areas and avoiding oily areas.</li>
                <li>Apply a broad-spectrum sunscreen with SPF 30 or higher to protect your skin.</li>
                <li>Optional Step: Consider using different products for different areas of your face to address specific concerns.</li>
            
            </ol>
                    
              
            </div>
            
        </div>

       <div class="row">
        
          <div class="col">

          </div>

          <div class="col">

          </div>

          <div class="col">

          </div>
       </div>
       
      </div>
    </div>

   




</div>

{% include "parts/footer.html" %}