 <!-- Footer -->
 <div class="row bg_blue">
  <div class="col-md link_footer mx-3" style="padding: 25px;">
    <a href="/" class="no_underline"><span>Home</span></a> <br>
    <a href="/aboutus" class="no_underline">About</a> <br>
    <a href="/allproduct_reviews" class="no_underline">Reviews</a> <br>
    <a href="/routine" class="no_underline">Your Routine</a> <br>
    <a href="/user/dashboard" class="no_underline">Products</a> <br>
    <a href="#" class="no_underline"></a>
  </div>
  <div class="col-md link_footer mx-3"  style="padding: 25px;">
    <a href="#" class="no_underline">Why you should know your skin type</a> <br>
    <a href="/skintype" class="no_underline">Different Skin Type</a> <br>
    <a href="/skinglow" class="no_underline">Skinglow</a>
    <a href="#" class="no_underline"></a>
  </div>
  <div class="col-md link_footer mx-3"> <br>
    <a href="#" class="no_underline">Contact Us:+2348139766380</a>
  </div>



         
<div>
  <h5 class="mt-5" style="text-align:center;color: #BFAB25;">Copyright &copy; Your Website 2023</h5>
</div>

</div>



</div>



   
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>