{% extends "user/layout.html" %}

{% block banner %}
 <div class="container-fluid">
<div class="row my-5">
 <img src="/static/image/care.new.jpg" alt="" class="img-fluid">
</div>

{% endblock %}


{% block content %}
<div class="row">
        {% for product in product %}
        <div class="col-md-4">
 
           <div>
            <a href="{{ url_for('order_product', slug=product.product_slug|urlencode) }}"><img src="{{ url_for('static',filename='collections/' + product.prod_cover)}}"alt="" width="100%"></a>
           </div>
         <div>
            <p>{{product.product_name}}</p>
            <p style="padding: 20px;background-color: antiquewhite;">{{product.product_price}}</p>
         </div>
          
           
           </div>
           {% endfor %} 
{% endblock %}


</div>
 </div>




